@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    height: 100vh;
    margin: 0;
    background: #6700ff;
    font-family: 'poppins', arial;
}

.nav nav ul li :hover {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    background: #6700ee;
}

.nav a {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header .logo {
    color: aquamarine;
    font-weight: bold;
}

header .logo span{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

header ul {
    display: flex;
}

header ul a {
    display: block;
    padding: 0 1em;
}

.depan {
    background: #6700ff;
    color: white;
    display: grid;
    text-align: left;
    padding: 0em 8em 0em 4em;
    grid-template-columns: 66% auto;
    justify-content: space-between;
}

.depan h1 {
    font-size: 3em;
    line-height: 1.2em;
}

.depan .content {
    padding: 6em;
}

.depan .foto img{
    height: 560px;
    width: auto;
    position: relative;
    top: 7px;
}

.badan {
    background: #6700ff;
    color: white;
    padding: 60px;
    display: flex;
}

.badan .riwayat span.layout {
    box-sizing: border-box;
    height: 200px;
    max-width: 100%;
    display: flex;
    margin-left: 200px;
}

.badan .riwayat span.layout span.layout2 {
    box-sizing: border-box;
    height: 200px;
    max-width: 100%;
    display: block;
}

.badan .riwayat span.layout .spasi{
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.badan .riwayat span.layout .spasi .text{
    font-size: 40px;
    margin-top: 65px;
    font-weight: bold;
}

.badan .riwayat span.enter {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

table {
    color: white;
    border-collapse: collapse;
    text-align: center;
    margin: 40px;
    justify-content: center;
    box-shadow: 0 0 50px rgb(0, 225, 255);
    overflow-x: auto;
}

td,th {
    padding: 10px;
}

.table1, th, td {
    border: 2px solid black;
}

td:hover, th:hover {
    background-color: black;
}

.jadwal {
    background: #6700ff;
    color: white;
    padding-bottom: 40px;

}

.jadwal .judul {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 35px;
    color: white;
}

.tengah .aktivitas {
    padding-left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.tengah .aktivitas .judul {
    color: white;
    padding-left: 50px;
    font-size: 36px;
    font-weight: bold;
}

.tengah .aktivitas .pengalaman {
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 22px;
}

.tengah .aktivitas .pengalaman .sma {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tengah .aktivitas .pengalaman .kuliah {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.depan .content h1 span {
    color: rgb(255, 0, 0);
}

.tengah {
    background: #6700ff;
    color: white;
    display: grid;
    text-align: left;
    padding: 0em 8em 0 4em;
    grid-template-columns: 50% auto;
    justify-content: space-between;
}

.tengah .foto img{
    padding-right: 40px;
    padding-top: 90px;
    padding-bottom: 111px;
    height: 360px;
    width: auto;
    position: relative;
    bottom: -5px;
}

.tengah .aktivitas .judul {
    padding-top: 50px;
}

.tengah .aktivitas .judul span {
    color: red;
}

.jadwal .judul span {
    color: red;
}

.nav header nav ul li span {
    color: red;
}